@font-face{
    font-family: "Barlow";
    src: url("Fonts/Barlow/BarlowSemiCondensed-ExtraLightItalic.ttf");

    font-weight: lighter;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Roboto&display=swap');



h1,h2{
    color: brown;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
h3{
    font-family: 'Roboto', sans-serif;
}
#bemutatkozás{
    Color: green;
}
#képesség{
    Color:Yellow;
}
#levesek{
    color: red;
    font-size: 50px;
}
#Főétel{
    color: red;
    font-size: 50px;
}
#Űdítők{
    color: red;
    font-size: 50px;
}
#Nap{
    text-align: left;
}
#Nyítás{
    text-align: left;
}
#Zárás{
    text-align: left;
}
h4,h5,h6{
    color:grey;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}
.content{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    line-height: 50px;

}
.bold{
    font-weight: bold;
}
.img-div{
background-color: khaki;

}
.light{
    background-color: lawngreen;
}
img {
    width: 200px;

}